h1.d-exclusive {
  margin-top: 20px;
  margin-bottom: 20px;
}
img.d-server-icon {
  width: 76px;
  height: 76px;
}
a.d-wrapper-link {
  text-decoration: none;
}
div.checkbox {
  width: 60px;
  height: 30px;
  min-width: 60px;
  min-height: 30px;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
  transition: all 200ms ease-out 0s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
div.checkbox:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
.d-card .checkbox {
  float: right;
}
div.checkbox:not(.checked) {
  background-color: rgba(255, 255, 255, 0.12);
}
div.checkbox.checked {
  background-color: #fccf51;
}
div.checkbox > div {
  position: absolute;
  top: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 3px;
  transition: all 200ms ease-out 0s;
  left: 3px;
  background-color: white;
}
div.checkbox.checked > div {
  left: 33px;
}

:root {
  --text: #000000;
  --text-alternate: #424242;
  --background: #ffffff;
  --background-alternate: #e7e7e7;
  --brand-primary: #fcba03;
  --brand-secondary: #fccf51;
  --shadow: rgb(0 0 0 / 20%);
}
.icon-bar {
  position: fixed;
  bottom: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px 18px 16px 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:first-child {
  border-radius: 0px 12px 0px 0px;
}
.icon-bar a:last-child {
  border-radius: 0px 0px 12px 0px;
}
.icon-bar a:first-child:last-child {
  border-radius: 0px 12px 12px 0px;
}
.icon-bar.right a:first-child {
  border-radius: 0px 0px 0px 12px;
}
.icon-bar.right a:last-child {
  border-radius: 12px 0px 0px 0px;
}
.icon-bar.right a:first-child:last-child {
  border-radius: 12px 0px 0px 12px;
}
.icon-bar a:hover {
  filter: brightness(1.3) saturate(0.7);
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
.d-page {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  vertical-align: middle;
}
.d-page .d-within-page {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}


.adjust {
  background: #292929;
  color: white;
}

.top {
  background: #2478d8;
  color: white;
}

:root.dark .adjust {
  color: #292929;
  background: white;
}
:root.dark {
  --text: #ffffff;
  --text-alternate: #e7e7e7;
  --background: #252525;
  --background-alternate: #424242;
  --brand-primary: #fcba03;
  --brand-secondary: #fccf51;
  --shadow: rgb(30 30 30 / 20%);
}
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
.d-hidden {
  display: none!important;
}
@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit.ttf');
}
body {
  font-family: 'Larsseit', sans-serif;
  background: var(--background);
  color: var(--text);
}
div.d-card:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
div.d-card {
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  transition: 0.3s box-shadow;
  padding: 12px;
  margin-bottom: 12px;
}
img.d-card:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
img.d-card {
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  transition: 0.3s box-shadow;
}
.d-wide {
  width: 80vw;
}
.d-pointer {
  cursor: pointer;
}
.d-center-within > * {
  margin: 0 auto;
}
.d-80vw-width {
  margin-left: 10vw;
  margin-right: 10vw;
}
@media only screen and (max-width: 600px) {
  .d-80vw-width {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media only screen and (max-width: 600px) {
  input {
    margin-left: 12px!important;
    margin-right: 12px!important;
    width: 100%!important;
    box-sizing: border-box!important;
  }
}
h1 {
  color: var(--text);
  margin-top: 16px;
  margin-bottom: 16px;
}
h2 {
  color: var(--text);
  margin-top: 16px;
  margin-bottom: 16px;
}
p {
  color: var(--text);
  margin-top: 16px;
  margin-bottom: 16px;
}
div.d-navbar {
  width: 100%;
  box-shadow: 0 5px 5px 0 var(--shadow), 0 5px 5px 0 var(--shadow);
  background-color: var(--background);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--background-alternate);
}
div.d-navbar > ul {
  list-style-type: none;
  list-style: none;
}
div.d-navbar > ul > li {
  display: inline-block;
}
div.d-navbar > ul > li:not(.d-logo) > a {
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
}
div.d-navbar > ul > li.d-logo-text > a {
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border-radius: 4px;
  font-size: 26px;
}
div.d-navbar > ul > li.d-logo-image > a > img {
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border-radius: 4px;
  font-size: 26px;
}
div.d-navbar > ul > li.d-logo > a {
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border-radius: 4px;
  font-size: 26px;
}
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text-alternate);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Larsseit', sans-serif;
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
input[type="submit"]:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
input[type="text"], input[type="email"] {
  width: 400px;
  display: block;
  vertical-align: middle;
  padding: 6px;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  font-family: 'Larsseit', sans-serif;
  font-size: 20px;
}
textarea {
  height: 260px;
  width: 400px;
  display: block;
  vertical-align: middle;
  padding: 6px;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  font-family: 'Larsseit', sans-serif;
}
div.d-navbar > ul > li.d-logo > a > img {
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border-radius: 4px;
  font-size: 26px;
}
div.d-navbar > ul > li:not(.d-logo) > a:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
.d-image-text-container {
  position: relative;
  text-align: center;
  color: white;
}
.d-image-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 24px;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px var(--background-alternate);
  background-color: #1111116b;
}
img.d-card-image {
  float: left;
  max-width: 78px;
  border: solid 1px var(--background-alternate);
  border-radius: 4px;
  margin-right: 12px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
p.d-plugin-desc {
  margin: 0px;
}
img.d-social {
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 0px 6px 6px;
  text-decoration: none;
  color: var(--text);
  box-sizing: border-box;
  transition: 0.3s box-shadow;
  border: solid 1px var(--background-alternate);
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
}
img.d-social:hover {
  box-shadow: 0 10px 16px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
a.d-social {
  text-decoration: none;
}
.d-card > h2 {
  margin-top: 24px;
  margin-bottom: 24px
}